.about__section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 96px;
}

.about__style{
    max-width: 600px;
}

.about__style > h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    color: #3f729b;
}

.about__style > p{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
}

.about__style span{
    font-size: 18px;
    color: #3f729b;
    text-decoration: underline;
}

.about__style p:nth-of-type(3){
    border-bottom: 1px solid #3f729b;
}

.about__tech{
    width: 100%;
    margin-left: 30px;
    color: #3f729b;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 14px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px){
    .about__style > h1{
        font-size: 42px;
    }

    .about__style > p{
        font-size: 22px;
    }

    .about__style{
        max-width: 800px;
    }

    .about__style span{
        font-size:24px;
    }
    
    .about__tech{
        font-size: 22px;
    }

}