*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-section, .contact-section,  .portfolio-section, .resume-section, .about-section{
    min-height: 100vh;
}

.app {
    background-color: #242726;
}

.footer {
height: 30px;
}

.footer p{
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #FFED4F;
    font-style: italic;
}