*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home__section, 
.contact__section, 
.portfolio__section, 
.resume__section, 
.about__section{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.app {
    background-color: #FAFAFA;
}

.footer {
    height: 30px;
}

.footer p{
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-style: italic;
}