.contact-section, .contact-css, form{
    display: flex;
}

.contact-section{
    flex-direction: column;
    justify-content: center;
}

.contact-css{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.contact-css h1{
    color: #fafafa;
    font-size: 40px;
}

form{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
}

input{
    width: 250px;
    height: 25px;
}

textarea{
    height: 60px;
    width: 250px;
}

.contact-css p{
    color: #fff;
    width: 250px;
    text-align: justify;
    margin-top: 10px;
    font-size: 14px;
}

.contact-css h1{
    font-size: 25px;
}

.contact-css span{
    color:#FFED4F;
}

@media only screen and (min-width:768px){
    .contact-css{
        height: 60%;
    }

    form{
        height: 60%;
    }


    .contact-css p{
        font-size: 18px;
        width: 500px;
    }

    input{
        width: 500px;
        height: 30px;
    }
    
    textarea{
        height: 150px;
        width: 500px;
    }
}

@media only screen and (min-width:1200px){
    .contact-css p{
        font-size: 18px;
        width: 500px;
    }
}