.home__section{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.home__container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 80vh;
    width: 90vw;
    margin-bottom: 48px;
}

.home__img{
    width: 160px;
    border-radius: 80px;
    border: 2px #3f729b solid;
    margin-bottom: 20px;
}

.home__info{
    max-width: 400px;
}

.home__info > h1{
    font-size: 14px;
}

.home__info > h2{
    font-size: 28px;
}

.home__info > h3{
    font-size: 24px;
    color: #3f729b;
}

.home__info > p{
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
}


@media only screen and (min-width: 768px){
    .home__img{
        width: 240px;
        border-radius: 120px;
        border: 2px #3f729b solid;
        margin-bottom: 20px;
    }
        
    .home__info > h1{
        font-size: 22px;
    }

    .home__info > h2{
        font-size: 42px;
    }

    .home__info > h3{
        font-size: 32px;
        color: #3f729b;
    }

    .home__info > p{
        font-size: 22px;
        text-align: justify;
        font-weight: 500;
    }
}