.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.home-css{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.image-css{
    displa:flex;
}

.image-css img:nth-child(1){
    width: 300px;
    position: absolute;
}

.image-css img:nth-child(2){
    width: 300px;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.home-info h1{
    font-size: 17px;
    font-weight: normal;
    color: #fafafa;
}

.home-info h2{
    font-size: 62px;
    color:#fff5f5f5;
}

.home-info h3{
    font-size: 52px;
    color:#FFED4F;
}

.home-info p{
    width: 60%;
    color:#fff5f5f5;
}

button{
    height: 40px;
    width: 180px;
    margin-top: 40px;
    background-color: #242726;
    border: 2px solid #FFED4F;
    border-radius: 6px;
    font-size: 20px;
    color: #FFED4F;
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}