.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px #DBDBDB solid;
    font-family: 'Poppins', sans-serif;
}

.navbar__logo__menu{
    width: 90vw;
}

.navbar__logo{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    color: #000;
    font-family: 'Permanent Marker', cursive;
    line-height: 48px;
    padding: 0px 20px;
}

.navbar__logo:hover{
    cursor: pointer;
}

.navbar___menu{
    display: none;
}

.navbar___menu.open{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top:0;
    background-color: #f8f8f8;
    width: 50%;
    height: 100vh;
    z-index: -1;
}

.navbar__link{
    text-decoration: none;
    list-style-type:none;
    color: #000;
    padding: 35px 0;
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar__link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.navbar__hamburger{
    position: absolute;
    right: 6vw;
    top: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 30px;    
}

.navbar__hamburger__line{
    width: 30px;
    height: 4px;
    background-color: #000;
}

.navbar__hamburger.is__open .navbar__hamburger__line:nth-child(1){
    transform: translateY(8.5px) rotate(45deg)
}

.navbar__hamburger.is__open .navbar__hamburger__line:nth-child(2){
    opacity: 0;
}

.navbar__hamburger.is__open .navbar__hamburger__line:nth-child(3){
    transform: translateY(-8.5px) rotate(-45deg)
}

@media only screen and (min-width: 768px){
    .navbar__logo__menu{
        width: 60vw;
    }

    .navbar__hamburger{
       display: none;    
    }

    .navbar___menu{
        height: 48px;
        position: absolute;
        right: 20vw;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50vw;
    }

    .navbar__link{
        width: 120px;
    }

    .navbar__link > li{
        font-size: 16px;
        padding: 0 10px;
    } 
}