*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar, .logo-nav, ul, .clock-weather, .data, .nav-link, .hamburger {
    display: flex;
}

.navbar{
    position:fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #242726;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

.logo-nav{
    align-items: center;
    height: 100%;
}

.logo{
    width: 80px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #FFED4F;
}

ul{
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    color:#fafafa;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    align-items: center;
    height: 100%;
    margin-top: 50px;
    height: 40px;
}

.nav-link li{
    height: 70%;
}

.nav-link:hover{
    border-bottom: 1px solid #FFED4F;
}

.logo:hover{
    cursor: pointer;
}

.menu-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #313332;
    display: none;
}

.menu-container.open{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.clock-weather{
    display: none;
}

.hamburger{
    position: absolute;
    right: 5%;
    height: 31px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 2;
}
    
.hamburger-line{
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 1px;
}

.hamburger.is-open .hamburger-line:nth-child(1){
     transform: translateY(8.5px) rotate(45deg);

}

.hamburger.is-open .hamburger-line:nth-child(2){
    opacity: 0;
}

.hamburger.is-open .hamburger-line:nth-child(3){
    transform:translateY(-8.5px) rotate(-45deg);
}

@media only screen and (min-width: 768px){
    .navbar{
        z-index: 2;
    }

    .clock-weather{
        display: inline-block;
        position: fixed;
        top: 0;
        height: 60px;
        line-height: 60px;
        right: 100px;
        width: 400px;
        z-index: -1;
    }

    .clock-weather img{
        padding-top: 5px;
        width: 60px;
    }


    .data{
        justify-content: space-evenly;
        height: 50px;
    }

    .clock{
        width: 80px;
    }

    .data .clock span{
        font-size: 20px;
        color: #FFED4F;
    }

    .data span {
        font-size: 20px;
        color: #fff;
    }

    .logo{
        height: 100%;
        width: 60px;
        line-height: 60px;
        font-size: 25px;
        padding-left: 4px;
    }
}

@media only screen and (min-width: 992px){
    .clock{
        width: 90px;
    }    

    .data .clock span{
        font-size: 18px;
    }

    .data span {
        font-size: 18px;
    }

    .logo{
        width: 85px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px){
    .logo{
        height: 100%;
        width: 20%;
        line-height: 45px;
    }

    .hamburger{
        display: none;
    }

    .menu-container{
        display: block;
        position: absolute;
        left: 10%;
        display: flex;
        height: 60px;
        background-color: #242726;;
    }

    .nav-link{
        margin-top: 0;
    }

    .data span {
        font-size: 20px;
    }

    .data .clock span{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1800px){
    .logo{
        height: 100%;
        width: 100px;
        line-height: 60px;
    }
}