.portfolio__section{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portfolio__data{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__list{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio__card{
    margin-top: 40px;
    max-width:600px;
    height: 600px;
}

.portfolio__card p:nth-last-of-type(1){
    color: #3f729b;
    font-size: 18px;
}

.portfolio__card p:nth-last-of-type(2){
    height: 90px;
}

.portfolio__list{
    width: 90vw;
}

.portfolio__data > h1{
    font-size: 30px;
    padding-bottom: 30px;
    color: #3f729b;
}

.portfolio__card > h2{
    font-size: 18px;
}

.portfolio__details{
    font-size: 14px;
    font-weight: 500;
}

.portfolio__details > ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__details > ul li{
    padding-right: 10px;
    font-size: 12px;
    color: #3f729b;
}

.portfolio__img{
    width: 100%;
    object-fit: contain;
}

.portfolio__buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.portfolio__button{
    height: 30px;
    width: 30px;
    color: #000000;
    margin: 0 10px;
}

.portfolio__preview{
    text-decoration:none;
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size:16px;
    padding: 0 10px;
    border: 1px #000 solid;
    border-radius: 4px;
}

.portfolio__button:hover{
    color: #3f729b;;
}

.portfolio__preview:hover{
    color: #3f729b;
    border: 1px  #3f729b solid;
}

@media only screen and (min-width: 786px){
    .portfolio__data > h1{
        font-size: 42px;
    }
    
    .portfolio__card > h2{
        font-size: 26px;
    }

    .portfolio__details{
        font-size: 22px;
    }
}