.portfolio-section, .portfolio-css ,.project-buttons, .project-card{
    display: flex;
}

.portfolio-section {
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.portfolio-css {
    flex-direction: column;
    justify-content: space-evenly;
    width: 96%;
    max-width: 90%;
    margin-top: 100px;
}


.portfolio-css h1{
    font-size: 28px;
    color: #fff5f5f5;
    text-align: center;
}

.project-card{
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    margin-top: 50px;
}

.portfolio-css h2{
font-size: 16px;
text-decoration: underline #FFED4F;
}

.project-buttons{
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}

.project-buttons a:nth-child(2){
    border: 1.5px solid #FFED4F;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #FFED4F;
    border-radius: 5px;
    font-weight: 600;
}

.project-card img{
    width: 100%;
}

.project-icon{
    margin-top: 7px;
    width: 32px;
    height: 32px;
    color: #FFED4F;
}

.project-details p{
    text-align: justify;
    font-size: 14px;
}

.project-details ul{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.project-details li{
    font-size: 12px;
}

@media only screen and (min-width:768px){
    .portfolio-css {
        width: 60%;
    }

    .project-details span{
        font-size: 14px;
    }

}

@media only screen and (min-width:992px){
    .portfolio-css {
        width: 700px;
    }

    .portfolio-css h1{
        font-size: 45px;
    }

    .project-card img{
        margin-top: 20px;
    }

    .project-card h2{
        font-size: 26px;
    }
    
    .project-card p{
        padding-top: 20px;
        font-size: 16px;
    }
    
    .project-details li{
        font-size: 14px;
    }
}
