.resume-section, .experience-container{
    display: flex;
}

.resume-section{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: flex-start;
}

.experience-container{
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    max-width: 400px;
    padding: 0 10px;
}

.resume-section h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
    color:  #fff5f5f5;
}

.resume-section p{
    text-align: justify;
    color:  #fff5f5f5;
    font-size: 14px;
}
.resume-section h3,h2{
    color:  #fff5f5f5;
}

.job-nav nav ul{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.job-nav nav ul li{
    width: 100px;
    text-decoration: none;
    list-style: none;
    color: #fff;
}
