.social__icon{
    width: 30px;
    height: 30px;
    color: #000;
}

.social__icon:hover{
    color:#3f729b;
}

.social__container{
   max-width: 160px;
}

.social__container > a{
    padding: 0 5px;
}